
@import "nullstyle.scss";
.wrapper {
	font-size: 1.5rem;
}
.container {
	font-size: 1.5rem;
}
.object1 {
	border: 1px solid red;
	font-size: 1.5rem;
}
.object2 {
	border: 1px solid red;
	font-size: 1.5rem;
}
.object3 {
	border: 1px solid red;
	//font-size: 21px;
}