
@import "nullstyle.scss";
.lorem{
   width: 100px;
   border:1px solid black;
   overflow:scroll;
   height: 600px;
}
.button{
   background-color:green;
   border:1px solid black;
   padding: 30px;
}